.layer {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding:50px 50px;
    margin: 0px 0px;
    left:0px;
    top:0px;
}
.img1 {
    background:url("car.png");
    height: 50px;
    width: 50px;
    z-index:10;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.img2 {
    background:url("car.png");
    z-index:2;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.28);
}
        
    